networks:
- config:
    ipv4.address: auto
    ipv6.address: 2001:db8:f:1::1/64
    ipv6.dhcp: false
  description: "Default network"
  name: lxdbr0
storage_pools:
- config:
  description: ""
  name: default
  driver: dir
profiles:
- config: {}
  description: ""
  devices:
    eth0:
      name: eth0
      nictype: bridged
      parent: lxdbr0
      type: nic
    root:
      path: /
      pool: default
      type: disk
  name: default
