[Unit]
Description=ttyd-vtysh instance %I

[Service]
User=vagrant
Group=www-data
RuntimeDirectory=ttyd-vtysh
UMask=0002
ExecStart=/opt/ttyd -i /run/ttyd-vtysh/%i.sock -t fontSize=20 tmux -f /opt/ttyd-tmux.conf new -A -s %i lxc exec %i vtysh
Type=simple
Restart=always

[Install]
WantedBy=default.target
